*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
h2{
  margin-left: 25px;
  padding: 4px;
  color: rgb(71, 71, 138);
  font-family: monospace;
  font-size: 35px;
}
h3{
  font-size: 20px;
  font-family: monospace;
}
.container{
width: 25%;
height: 570px;
border-radius: 19px 10px 40px 10px;
border: 4px solid rgb(122, 122, 185);
margin-top: 110px;
margin-left: 690px;
position: relative;
}
.top{
  margin-left: 140px;
  margin-top: 30px;
}
input [type=Email]{
  margin-left: 30px;
  margin-top: 20px;
}
.textbox{
  width: 86%;
  position: relative;
  margin-top:40px;
  overflow: hidden;
  font-size: 20px;
  padding: 11px ;
  margin: 30px ;
  color: black;
  border-bottom: 5px solid #3f8adf;
}
.textbox input{
  border: none;
  margin-left: 7px;
  outline: none;
  background: none;
  color:red;
}
.for{
  margin-left: 260px;
  margin-top: 90px;
  font-size: 22px;
  color: #3f8adf;
}
.bo{
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
}
.bo .cr{
  margin-left: 20px;
  font-size: 28px;
  color: #2a7cda;
}
.bo .si{
  background: #0570e9;
  margin-left: 70px;
  color: white;
  padding: 7px;
  width: 90px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 10px;
}
.footer{
  margin-left: 50px;
  margin-top: 20px;
  font-size: 18px;
  color:#0570e9 ;
 font-family: monospace;
}