*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.container{
  width: 700px;
  margin-left: 573px;
  margin-top:150px ;
  height: 600px;
  border: 6px solid rgb(71, 71, 138);
  border-radius: 44px 10px 40px 10px;
}
h2{
  color: rgb(71, 71, 138);
  font-size: 30px;
}
h3{
  margin-top: 12px;
  font-size: 26px;
}
.top{
  margin-left: 30px;
  margin-top: 40px;
}
.create{
  margin-top: 140px;
}